
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ofertas de Trabajo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse row" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-10">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto col-2">
      <li>
        <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="goToLogin()">Login</button>
        <button class="btn btn-dark my-2 my-sm-0" type="submit" (click)="goToLogout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="footer mt-auto py-3 text-center">
  Trabajo 02 Jahel Cuadrado
</div>
