<body>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descripción de la oferta</th>
        <th scope="col"><button class="btn btn-secondary" *ngIf="hayUsuario" (click)="nuevaOferta()">Añadir nueva oferta</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oferta of this.ofertas">
        <th scope="row">{{oferta.id}}</th>
        <td>{{oferta.titulo}}</td>
        <td><button class="btn btn-primary" (click)="verOferta(oferta.id)">Ver oferta</button></td>
        <td><button class="btn btn-danger" *ngIf="hayUsuario" (click)="borrarOferta(oferta.id)">Eliminar</button></td>
      </tr>
    </tbody>
</table>
<div class="alert-danger" *ngIf="!ofertas">¡No se encontraron ofertas!</div>
</body>


